.lista-de-perfis {
    text-align: center;
    padding: 20px;
  }
  
  .perfis-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .perfil {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    text-align: left;
  }

  .sair{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    height: 60px;
    width: 100px;
    font-size: 20px;
  }
  
  .sair:hover {
    background-color: #0056b3;
  }